.products-slider {
  max-width: 100%;
}

.slick-initialized .slick-slide {
  display: flex;
}

.products-slider .slick-slide {
  justify-content: center;
}

.products-slider .slick-slide:focus {
  outline: none;
}

.products-title {
  position: relative;
  margin: 25px 0;

  font-size: 20px;
  font-weight: 900;
  line-height: 27px;
}

.products-title::after {
  content: "";
  position: absolute;
  
  width: 0;
  height: 0;
  left: 0;
  bottom: -4px;
  border: 0 solid #C0C0C0;
  border-bottom-width: 4px;
  border-top-width: 0px;
  border-left-width: 65px;
}

.newsletter {
  background-color: #F2F2F2;

  padding: 24px 0;
}

.newsletter .MuiButtonBase-root {
  height: 48px;
  width: 140px;
  max-width: 95vw;

  color: #FFFFFF;
  font-weight: 700;
  text-transform: none;
  background-color: #000000;
}

.newsletter .MuiButtonBase-root:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.newsletter .MuiOutlinedInput-root {
  height: 48px;
  width: 280px;
  max-width: 95vw;
  margin-right: 8px;
  
  outline: none;
  font-size: 12px;
  background-color: #FFFFFF;
}

.newsletter .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.newsletter .MuiOutlinedInput-root:hover:not(.Mui-error) fieldset,
.newsletter .Mui-focused:not(.Mui-error) fieldset {
  border-color: #BDBDBD!important;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100%;
}

.newsletter-title {
  margin: 0 0 16px;

  color: #333333;
  font-size: 22px;
  text-align: center;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .newsletter .MuiOutlinedInput-root {
    margin: 15px 0 7px;
  }

  .newsletter-title {
    margin: 0 0 4px;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .newsletter .MuiButtonBase-root {
    width: 280px;
  }
}