.product {
  position: relative;

  width: 216px;
  margin-bottom: 25px;
}

.product .MuiCardMedia-root {
  width: 216px;
  height: 200px;
}

.product-container {
  transition: .2s;
}

.product-off {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  width: 82px;
  height: 72px;
  top: 0;
  right: 0;
}

.product-off::before {
  content: "";
  position: absolute;
  
  width: 0;
  height: 0;
  right: 0;
  border: 0 solid transparent;
  border-bottom-width: 75px;
  border-top-width: 0px;
  border-right: 82px solid #F8475F;
}

.product-off span {
  margin: 11px 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;

  z-index: 1;
}

.product:hover .product-container {
  background-color: #E6E8EA;
}

.product-name {
  color: #7A7A7A;
  font-size: 12px;
  text-align: center;
  font-weight: 600;

  margin-top: 8px;
}

.product-list {
  color: #7A7A7A;
  font-size: 12px;
  text-align: center;
  line-height: 16px;

  height: 16px;
}

.product-price {
  color: #000;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
}

.product-installments {
  color: #7A7A7A;
  font-size: 11px;
  text-align: center;
  line-height: 15px;

  height: 15px;
}

.MuiButtonBase-root.product-buy {
  margin: 8px 0;

  color: #FFFFFF;
  background-color: #000000;

  opacity: 0;
  transition: .2s;
}

.MuiButtonBase-root.product-buy:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.product:hover .MuiButtonBase-root.product-buy {
  opacity: 1;
}

@media (max-width: 960px) {
  .MuiButtonBase-root.product-buy {
    width: 216px;

    opacity: 1;
    font-size: 16px;
    font-weight: 500;
  }

  .product:hover .product-container {
    background-color: transparent;
  }
}

@media (max-width: 600px) {
  .product,
  .MuiButtonBase-root.product-buy,
  .product .MuiCardMedia-root {
    width: 132px;
  }

  .product .MuiCardMedia-root {
    height: 122px;
  }

  .product-off {
    width: 50px;
    height: 45px;
  }

  .product-off::before {
    border-bottom-width: 50px;
    border-right-width: 45px;
  }

  .product-off span {
    margin: 8px 5px;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
  }
}