.carousel-item {
  position: relative;
  height: 430px;
}

.carousel-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.carousel-effect {
  position: absolute;
  width: 50vw;
  height: 100%;
  left: 0;
}

.carousel-background {
  position: absolute;
  width: 60vw;
  height: 100%;
  right: 0;
}

.carousel-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-effect img {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.carousel-texts-container {
  position: absolute;
  display: flex;
  align-items: center;

  top: 0;
  width: 100vw;
  height: 100%;
}

.carousel-texts {
  display: flex;
  flex-direction: column;
  
  width: 30%;
  margin-left: 12%;
}

.carousel-texts .carousel-title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;

  flex-basis: 0;
}

.carousel-texts .carousel-description {
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  line-height: 90%;

  flex-basis: 0;
}

.custom-dots {
  position: absolute;
  display: flex;
  justify-content: center;

  bottom: 30px;
  width: 100%;
}

.custom-dots.products {
  bottom: -20px;
}

.custom-dots li {
  list-style-type: none;
}

.custom-dots li button {
  height: 10px;
  width: 10px;
  margin: 0 6px;
  padding: 0;
  
  color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #BDBDBD;
}

.custom-dots .slick-active button {
  background-color: #F8475F;
}

.arrow {
  position: absolute!important;

  top: 50%;
}

.arrow.prev {
  left: -75px;
}

.arrow.next {
  right: -75px;
}

@media (max-width: 960px) {
  .carousel-background {
    width: 100vw;
  }

  .carousel-texts .carousel-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
  }
  
  .carousel-texts .carousel-description {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  .carousel-texts {
    width: 90%;
    margin-left: 5%;
  }
}

.carousel-dark-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,55%);
}

@media (max-width: 600px) {
  .carousel-item {
    height: 190px;
  }

  .custom-dots.banner {
    bottom: 13px;
  }
}